[Unit]
Description={{BOT_NAME}} Telegram Bot
After=network.target

[Service]
Type=simple
WorkingDirectory={{WORKDIR}}
ExecStart={{VENV_PYTHON}} {{BOT_SCRIPT}}
EnvironmentFile={{ENV_FILE}}
Restart=always
RestartSec=10
StandardOutput=append:{{LOG_PATH}}
StandardError=append:{{ERR_LOG_PATH}}

[Install]
WantedBy=default.target
